streamlit
google-play-scraper
pandas
textblob
plotly
wordcloud
matplotlib
seaborn
numpy
scikit-learn
scipy
networkx
openpyxl
nltk
aiohttp
holidays
pytz
python-dateutil
beautifulsoup4 
fake-useragent 
fpdf 
python-pptx schedule
